
  <footer class="mt-auto">
     <div class="d-flex flex-column min-vh-100 ">
       <div class=" navbar-fixed-bottom">
  <div class= "text-center text-white" style="background-color: #242124">


    <div class="container" style="height:250px;">

      <section class="mt-5">

        <div class="row text-center d-flex justify-content-center pt-5">

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">About us</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Help</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Contact</a>
            </h6>
          </div>

        </div>

      </section>

      <hr class="my-4" />

      <!-- Section: Text -->
      <section class="mb-3">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>

Our community is second to none. Between our staff and community moderators, we're always here to help. We're passionate about making sure your experience on TMDB is nothing short of amazing.
Trusted platform. Every single day our service is used by millions of people while we process over 3 billion requests.
            </p>
          </div>
        </div>
      </section>

      <section class="text-center mb-3 ">
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>&nbsp;
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>&nbsp;
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>&nbsp;
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>&nbsp;
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>&nbsp;
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>&nbsp;
      </section>

    </div>

    <div
         class="container-fluid text-center pt-5 mt-5" >
<div class="row d-flex justify-content-center p-3" style="background-color: #494F55;height:60px" >
      © 2024 Copyright :<a class="text-white" href="">Borcelle.com</a>
    </div>
 </div>
  </div>
  </div>
  </footer>
