{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container py-5 h-100 mb-3">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">

              <img src="{% static 'images/avatar.jpg' %}"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
<!--profile details-->
                  <a  class= "btn btn-dark" href="{% url 'profile_app:edit_profile' user.id %}" style="z-index: 1;"> Edit profile</a>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
                 {% if user.is_authenticated %}
              <h5>hello {{user.username}},</h5>

              <p></p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end  py-1">
                 <p>Name: {{user.first_name}}&nbsp;{{user.last_name}}

                    <br>
                Email:{{user.email}}
    </p>
            </div>
          </div>

            <div class="d-flex justify-content-between align-items-center mb-4 ">
              <p class="lead fw-normal mb-0 pl-3">My Movies</p>
<!--              <p class="mb-0 "><a href="#!" class="text-muted">Show all</a></p>-->
            </div>
            {% endif %}
            {% for m in mov %}


<!--show added movies-->
    <div class="container bcontent mb-3">
         <div class="row d-flex justify-content-center align-items-center h-100">

        <div class="card " style="width: 550px;">
            <div class="row no-gutters">
                <div class="col-sm-4">
                    <a href="{% url 'movies_app:movie_detail' m.id %}">
                        <img class="card-img float_left rounded custom_image pl-3 mt-3 mb-3" src="{{m.image.url}}"
                             alt="...." width="100px" height="150px" ></a>
                </div>
                    <div class="col-sm-4">
                        <div class="card-body">
                            <h5 class="card-title"> {{m.title}}</h5>
                            <p class="card-text">{{m.language}}<br>
                            {{m.release_date}}

                            </p>

                        </div>
                    </div>
                        <div class="col-sm-4 mt-5 ">
                            <a  class= "btn btn-dark" href="{% url 'profile_app:edit_mov' m.id %}">Edit/Delete</a><br>
                        </div>

            </div>

        </div>
    </div>
        {% endfor %}
            </div>
        </div>
      </div>
                {% for msg in messages %}
                     <div class="alert alert-success alert-dismissible" role="alert">

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong>{{msg}}</strong>
                     </div>

                {% endfor %}

        </div>

</div>
{% endblock %}